.bounce {
	animation: bounce 2s infinite;
}

.waves {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.waves svg {
	position: relative;
	display: block;
	width: calc(101% + 1.3px);
	height: 162px;
}

.waves .shape_fill {
	fill: #000000;
}

.top_waves {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(0.5turn);
}

.top_waves svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 162px;
}

.top_waves .top_shape-fill {
	fill: #000000;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
