.top_waves {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(0.5turn);
}

.top_waves svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 162px;
}

.top_waves .top_shape-fill {
	fill: #000000;
}
